body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.logo span {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 18px;
  color: #4d5ae5;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 24;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
}

h2 {
  color: #2e2f42;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
}

h3 {
  color: #2e2f42;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 20px;
}

p {
  color: #434455;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
}
