#hero { background-color: #2E2F42; width:1158px; height:224px; }
h1 { color: #FFFFFF;font-family: "Roboto"; font-weight: 700; font-size: 56px; text-align: center;}
button { background-color: #4D5AE5; color: #FFFFFF; font-family: "Roboto"; font-weight: 500; font-size: 24px; }
