.team {
  background-color: #f4f4fd;
}

.team-title2 {
  color: #2e2f42;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;

}

.team-title3 {
  text-align: center;

}

.team-features-text {
  text-align: center;

}

.li-item {
  background-color: #ffffff;
}