#hero {
  background-color: #2e2f42;
  width: 1158px;
  /* height: 224px; */
}
h1 {
  color: #ffffff;
  font-weight: 700;
  font-family: "Roboto";
  font-size: 56px;
  text-align: center;
}
button {
  background-color: #4d5ae5;
  color: #ffffff;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 24px;
}
